doctype html
html
    head
        title Mi Aplicación
        link(rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css")
        link(rel="stylesheet" href="/styles.css")
    body
        .container
            h1.mt-4.mb-4 Mi Aplicación

            // Sección de Alumnos
            h2 Alumnos
            div.table-responsive
                table.table.table-striped.table-bordered
                    thead.thead-dark
                        tr
                            th Nombre
                            th Edad 
                            th Carrera
                            th Acciones
                    tbody
                        each alumno in alumnos
                            tr
                                td #{alumno.columna1}
                                td #{alumno.columna2}
                                td #{alumno.columna3}
                                td.text-center.align-middle
                                    form(action=`/actualizar-alumno/${alumno.id}` method="POST" class="action-form")
                                        input(type="text" name="columna1" value=alumno.columna1 required class="form-control" placeholder="Nombre")
                                        input(type="number" name="columna2" value=alumno.columna2 required class="form-control" placeholder="Edad")
                                        input(type="text" name="columna3" value=alumno.columna3 required class="form-control" placeholder="Carrera")
                                        select(name="curso_id" class="form-control")
                                            option(value="") Sin curso
                                            each curso in cursos
                                                option(value=curso.id selected=curso.id == alumno.curso_id)= curso.nombre
                                        button(type="submit" class="btn btn-primary btn-sm") Actualizar
                                    form(action=`/eliminar-alumno/${alumno.id}` method="POST" class="action-form")
                                        button(type="submit" class="btn btn-danger btn-sm") Eliminar


            // Sección de Agregar nuevo alumno
            h2 Agregar nuevo alumno
            form(action="/agregar-alumno" method="POST" class="mb-4")
                .form-group
                    input(type="text" name="columna1" placeholder="Nombre" required class="form-control")
                .form-group
                    input(type="number" name="columna2" placeholder="Edad" required class="form-control")
                .form-group
                    input(type="text" name="columna3" placeholder="Carrera" required class="form-control")
                .form-group
                    select(name="curso_id" class="form-control")
                        option(value="") Sin curso
                        each curso in cursos
                            option(value=curso.id)= curso.nombre
                button(type="submit" class="btn btn-success") Agregar

            // Sección de Cursos
            h2 Cursos
            div.table-responsive
                table.table.table-striped.table-bordered
                    thead.thead-dark
                        tr
                            th Nombre
                            th Descripción
                            th Acciones
                    tbody
                        each curso in cursos
                            tr
                                td= curso.nombre
                                td= curso.descripcion
                                td.text-center.align-middle
                                    form(action=`/eliminar-curso/${curso.id}` method="POST" class="action-form")
                                        button(type="submit" class="btn btn-danger btn-sm") Eliminar
                                    form(action=`/actualizar-curso/${curso.id}` method="POST" class="action-form")
                                        input(type="text" name="nombre" value=curso.nombre required class="form-control" placeholder="Nombre del curso")
                                        textarea(name="descripcion" required class="form-control" placeholder="Descripción del curso")= curso.descripcion
                                        button(type="submit" class="btn btn-primary btn-sm") Actualizar


            // Sección de Agregar nuevo curso
            h2 Agregar nuevo curso
            form(action="/agregar-curso" method="POST" class="mb-4")
                .form-group
                    input(type="text" name="nombre" placeholder="Nombre del curso" required class="form-control")
                .form-group
                    textarea(name="descripcion" placeholder="Descripción del curso" required class="form-control")
                button(type="submit" class="btn btn-success") Agregar

        script(src="https://code.jquery.com/jquery-3.5.1.slim.min.js")
        script(src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js")
        script(src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js")
